{
  "parserOptions": {
    "ecmaVersion": 2021, // or a later version if your code uses more recent features
    "sourceType": "module" // Enable ECMAScript modules
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "warn"
    // Add more rules or customize as needed
  },
  "globals": {}
}
